.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#outlined-basic{
  height: 0.45em;
}


.myRoadBtn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 25px;
}

.mapCard {
  height: 500px;
  width: 350px;
  display: contents;
}

.roadDiscription {
  /* margin-top: 25px;
  border: 2px solid;
  padding: 20px;
  border-radius: 20px;
  background-color: papayawhip; */

  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.discriptionTitle {
  display: flex;
  justify-content: space-between;
}

.citys {
  margin-top: 0px;
  margin-bottom: 27px;
}

.discriptionText {
  line-height: 2.3;
  /* border: 1px solid; */
  width: 550px;
  height: 150px;
  /* margin: 0px 350px 0px 0px; */
}

.mapPlace {
  /* display: flex;
  align-items: flex-start;
    /* justify-content: flex-end;
    flex-direction: row-reverse;
    width: 60%; 
    align-content: space-around; */
    /* align-items: flex-start; */
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* 
https://thumbs.gfycat.com/FlickeringLoneFallowdeer-max-1mb.gif */
.prImg {
  background-image: url(https://tvil.ru/blog/sites/blog/files/image/articles/2020_05/Marshrut-puteshestviya-po-Evrope%20%281%29.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -71px auto 0px;
  background-position-y: bottom;
}

/* https://kartinkin.net/uploads/posts/2021-07/1626777960_5-kartinkin-com-p-krasivii-legkii-fon-krasivo-5.jpg */

.sdfsd {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg);
  margin: -16px auto -26px;
}

.logoTitle {
  display: flex;
  padding-top: 10%;
  padding-left: 3%;
}

.travelStyle {
  font-size: 85px;
    color: floralwhite;
}

.iStyle {
  font-size: 65px;
    color: yellow;
    padding-top: 21px;
}

.logoText {
  font-size: 42px;
  color: floralwhite;
  margin-top: -14px;
  margin-left: 7%;
}

.headerComPage {
  background-image: url(http://localhost:3001/img/123.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -71px auto 0px;
}

.cardCompBox {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardComp {
  margin: 25px;
}

.textCompP {
  text-align: center;
  padding-top: 180px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: rgb(9, 9, 9);
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption {
 top: 0;
}

.carousel-control-next-icon {
  overflow: visible;
}


.mapRoadDiscription {
  display: flex;
  justify-content: space-around;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myMarkBtn {
  margin-top: 8px;
}

.mapPlaceBtn {
  margin-left: 39px;
}
.pageOneRoadStyle {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg);
}

/* .logoTitleReg {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-left: 3%;
  margin-top: -25px;
}

.travelStyleReg {
  font-size: 85px;
    color: gray;
}

.iStyleReg {
  font-size: 65px;
    color: rgb(37, 127, 184);
    padding-top: 21px;
} */

.alienBox {
  display: flex;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15px;
  height: 785px;
  font-size: larger;
}

.alienAvatar {
  margin-top: 100px;
}

.alienInfo {
  margin-left: 100px;
}

.alienBirth {
  display: flex;
  flex-direction: row;
}
