.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#outlined-basic{
  height: 0.45em;
}


.myRoadBtn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 25px;
}

.mapCard {
  height: 500px;
  width: 350px;
  display: contents;
}

.roadDiscription {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.discriptionTitle {
  display: flex;
  justify-content: space-between;
}

.citys {
  margin-top: 0px;
  margin-bottom: 27px;
}

.discriptionText {
  line-height: 2.3;    
    width: 550px;
    height: 150px;    
    margin-top: 70px;
    margin-left: 15px;
    font-size: 18px;
}

.mapPlace {  
    display: flex;
    width: 100%;
    flex-direction: column;
}

.prImg {
  background-image: url(https://tvil.ru/blog/sites/blog/files/image/articles/2020_05/Marshrut-puteshestviya-po-Evrope%20%281%29.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -71px auto 0px;
  background-position-y: bottom;
}

.sdfsd {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg);
  margin: -16px auto -26px;
}

.logoTitle {
  display: flex;
  padding-top: 10%;
  padding-left: 3%;
}

.travelStyle {
  font-size: 85px;
    color: floralwhite;
}

.iStyle {
  font-size: 65px;
    color: yellow;
    padding-top: 21px;
}

.logoText {
  font-size: 42px;
  color: floralwhite;
  margin-top: -14px;
  margin-left: 7%;
}

.headerComPage {
  background-image: url(http://localhost:3001/img/123.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -71px auto 0px;
}

.cardCompBox {
  background-image: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardComp {
  margin: 25px;
}

.textCompP {
  text-align: center;
  padding-top: 180px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: rgb(9, 9, 9);
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-inner {
  overflow: visible;
}

.carousel-caption {
 top: 0;
}

.carousel-control-next-icon {
  overflow: visible;
}


.mapRoadDiscription {  
  display: flex;    
  margin-left: 25px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}

.myMarkBtn {
  margin-top: 8px;
}

.mapPlaceBtn {  
    margin-left: 39px; 
    display: flex;
    justify-content: center;
    flex-direction: column;    
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    /* display: flex;
    justify-content: center;
    flex-direction: column; 
    margin: 15px auto;
    padding: 25px; */
}
.pageOneRoadStyle {
  /* background-image: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg); */
  height: 980px;
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.footerCard{
  display: flex;
  justify-content: space-between;  
  width: 100%;
}

.MuiInputBase-root {
  height: 100%;
}

.css-1dkup1v-MuiButtonBase-root-MuiButton-root {
  margin-top: 8px;
  padding: 27px 20px;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  flex-direction: column;
  margin: 15px 30px;
  display: flex;
  justify-content: space-between;
}
/* 
.alienBox {
  display: flex;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15px;
  height: 800px;
  font-size: larger;
} */

.commentContain {
  width: 700px;
  height: 300px;
  overflow: hidden;
}

.listComment {  
  overflow-y: scroll;
  max-height: 100%;
  width: 100%;
  padding-right: 45px;
  background: rgb(241 237 240 / 0%);
}


.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 14px;
}

::-webkit-scrollbar {
  width: 5px; 
  background: #cfcfd91d;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  border: 5px solid rgba(255,255,255,0.25);
  box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #697c75, #76b0b0);
  border-radius: 15px;
}

/* .alienVKI {
  display: flex;
  flex-direction: column;
} */

.alienBox {
  display: flex;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15px;
  min-height: 836px;
  font-size: larger;
}

.alienAvatar {
  margin-top: 100px;
}

.alienInfo {
  margin-left: 100px;
  max-width: 600px;
}

.searchComp {
  margin-left: 92px;
  color:#0a58ca;
}

.loginPS {
  background-image: url(http://localhost:3001/img/login.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15px;
  min-height: 836px;
}

/* .headerPOR {
  background-image: url(https://tvil.ru/blog/sites/blog/files/image/articles/2020_05/Marshrut-puteshestviya-po-Evrope%20%281%29.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -71px auto 0px;
  background-position-y: bottom;
} */
